:root {
  --font-family: 'Roboto', sans-serif;
  --primary-color: #202020;
  --secondary-color: #272727;
  --text-color: #fff;
  --on-hover-color: #343434;
  --on-hover-selected-color: #4d4d4d;
  --on-selected-color: #404040;
  --secondary-text-color: #838383;
  --from-message-background: #2d7e24;
  --to-message-background: #333;
}

body {
  margin: 0;
  font-family: var(--font-family);
  overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}